spring:
  application:
    name: ai-customer-service
  profiles:
    active: local
  ai:
    ollama:
      # 如果就是本机跑 Ollama，可以不写，默认也是这个
      base-url: http://localhost:11434
      embedding:
        options:
          model: modelscope.cn/Qwen/Qwen3-Embedding-8B-GGUF:latest

      chat:
        options:
          model: qwen3:8b
  datasource:
    url: jdbc:postgresql://localhost:5432/ai_customer_service
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver


server:
  port: 8123
  servlet:
    context-path: /api
# springdoc-openapi
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.tao.controller

knife4j:
  enable: true
  setting:
    language: zh_cn

